{% extends 'layout.html.twig' %}

{% block title %}Hello CmsController!{% endblock %}

{% block content %}

    <main class="app-content">
        <h1 class="app-header__logo">On dirait que vous vous êtes perdu!</h1>
        <h2><a class="app-header__logo" href="{{ path('cms_homepage') }}">Revenir a l'accueil</a></h2>
    </main>




{% endblock %}